{# src/Esiea/BlogBundle/Resources/Views/Advert/index.html.twig #}

<!DOCTYPE html>
<html>
	<head>
		<title>Bienvenue sur ma dernière page !</title>
	</head>
	<body>
		<h1>Byebye World !</h1>
		<p>
			Ceci est la dernière page de mon blog.
			Pour dire au revoir les petits !
		</p>
	</body>
</html>